* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Graphik";
  background: #1D1F25;
  color: #ffffff;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

/* Header */
header {
  padding: 24px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.logo__header h2 {
  font-family: "Sora", arial;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__header ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__header li {
  display: inline-block;
}
.menu__header li:not(:first-child) {
  margin-left: 48px;
}
.menu__header li a {
  text-decoration: none;
  color: #ffffff;
}

.menu__button__container {
  margin-left: 32px;
}
.menu__button__container button {
  height: 100%;
  padding: 12px 24px;
  border-radius: 100px;
  color: #ffffff;
  font-family: "Sofia Pro";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
}
.menu__button__container button:first-child {
  background: transparent;
  border: 1px solid #ffffff;
}
.menu__button__container button:last-child {
  margin-left: 16px;
  background: -o-linear-gradient(184.44deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
  background: linear-gradient(265.56deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
  border: none;
}