* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --BG: #1D1F25;
    --text: #ffffff;
    --blue: #1A82FF;
}
body {
    font-family: 'Graphik';
    background: var(--BG);
    color: var(--text);
}
.wrapper {
    width: 1440px;
    margin: 0 auto;
}


.logo__header h2 {
    font-family: 'Sora', arial;
}