* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Graphik";
  background: #1D1F25;
  color: #ffffff;
}

.wrapper {
  width: 1155px;
  margin: 0 auto;
}

/* Hero */
.hero {
  position: relative;
}

.grid__bg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

/* Header */
.header__wrap {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.logo__header h2 {
  font-family: "Sora";
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: #ffffff;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__header ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__header li {
  display: inline-block;
}
.menu__header li:not(:first-child) {
  margin-left: 48px;
}
.menu__header li a {
  text-decoration: none;
  color: #ffffff;
}

.menu__button__container {
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.menu__button__container button {
  height: 100%;
  padding: 12px 24px;
  border-radius: 100px;
  color: #ffffff;
  font-family: "Sofia Pro";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: #ffffff;
  cursor: pointer;
}
.menu__button__container button:first-child {
  background: transparent;
  border: 1px solid #ffffff;
}
.menu__button__container button:last-child {
  margin-left: 16px;
  background: -o-linear-gradient(184.44deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
  background: linear-gradient(265.56deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
  border-radius: 100px;
  border: none;
  padding: 12px 24px;
}

/* Hero */
.hero__wrap {
  padding: 0 24px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero__container .hero__text h1 {
  font-family: "Sofia Pro";
  font-size: 61px;
  font-weight: 700;
  line-height: 110%;
  color: #ffffff;
}
.hero__container .hero__text p {
  margin-top: 24px;
  font-family: "Graphik";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #E5E6ED;
}
.hero__container .hero__text button {
  margin-top: 48px;
  font-family: "Graphik";
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #E5E6ED;
}
.hero__container .hero__image {
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
}

.button {
  background: -o-linear-gradient(184.44deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
  background: linear-gradient(265.56deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
  border-radius: 100px;
  border: none;
  padding: 18px 75px;
  font-family: "Sofia Pro";
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  color: #ffffff;
}