@mixin flex-center($justify-content) {
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}

@mixin font($font-family, $font-size, $font-weight, $line-height, $color) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}
@mixin button() {
    background: linear-gradient(265.56deg, #246CF9 -0.27%, #1E68F6 -0.26%, #0047D0 98.59%);
    border-radius: 100px;
    border: none;
}