@import '_vars';
@import '_mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Graphik';
    background: $bg;
    color: $text;
}
.wrapper {
    width: 1440px;
    margin: 0 auto;
}


header {
    padding: 24px;
}
.header__wrap {
    @include flex-center(space-between);
}
.logo__header {
    @include flex-center(start);
    & h2 {
        font-family: 'Sora', arial;
    }
}
.menu__header {
    & li {
        display: inline-block;
    }
}