@import '_vars';
@import '_mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Graphik';
    background: $bg;
    color: $text;
}
.wrapper {
    width: 1440px;
    margin: 0 auto;
}

/* Header */
header {
    padding: 24px;
}
.header__wrap {
    @include flex-center(space-between);
}
.logo__header {
    @include flex-center(start);
    & h2 {
        font-family: 'Sora', arial;
    }
}
.menu__header {
    display: flex;
    & ul {
        height: 100%;
        @include flex-center(space-between)
    }
    & li {
        display: inline-block;
    }
}
.menu__button__container {
    & button {
        height: 100%;
        padding: 12px 24px;
        border-radius: 100px;
        color: $text;
        @include font('Sofia Pro', 14px, 600, 22px);
        cursor: pointer;
        &:first-child {
            background: transparent;
            border: 1px solid $white;
        }
    }
}