@import '_vars';
@import '_mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Graphik';
    background: $bg;
    color: $white;
}

h1 {
    margin-top: 72px;
    width: 638px;
    @include font('Sofia Pro', 61px, 700, 110%, $white);
}

h2 {
    @include font('Sofia Pro', 49px, 700, 110%, $white);
}

h3 {
    @include font('Sofia Pro', 25px, 700, 120%, $white);
}

.wrapper {
    width: 1155px;
    margin: 0 auto;
}


/* Hero section */

.hero {
    position: relative;
}
.grid__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.line__hero {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

/* Header */
.header__wrap {
    padding: 24px;
    @include flex(space-between, center);
}
.logo__header {
    @include flex(start, center);
    p {
        @include font('Sora', 18px, 700, 23px, $white);
        span {
            color: $blue;
        }
    }
}
.menu__header {
    display: flex;
    ul {
        height: 100%;
        @include flex(space-between, center)
    }
    li {
        display: inline-block;
        &:not(:first-child) {
            margin-left: 48px;
        }
        a {
            text-decoration: none;
            color: $white;
        }
    }
}
.menu__button__container {
    margin-left: 32px;
    @include flex(start, center);
    button {
        height: 100%;
        padding: 12px 24px;
        border-radius: 100px;
        color: $white;
        @include font('Sofia Pro', 14px, 600, 22px, $white);
        cursor: pointer;
        &:first-child {
            background: transparent;
            border: 1px solid $white;
        }
        &:last-child {
            margin-left: 16px;
            @include button(12px, 24px);
        }
    }
}

/* Hero */
.hero__wrap {
    padding: 0 24px;
}
.hero__container {
    @include flex(start, start);
    .hero__text {
        p {
            margin-top: 24px;
            width: 521px;
            @include font('Graphik', 18px, 400, 27px, $text-grey-20);
        }
        button {
            margin-top: 48px;
            @include font('Graphik', 18px, 400, 27px, $text-grey-20);
        }
    }
    .hero__image {
        transform: translateX(-100px);
    }
}
.button {
    @include button(18px, 75px);
    @include font('Sofia Pro', 18px, 600, 160%, $white);
}

/* Slider */

.slider__main-container {
    margin: 94px auto 0;
    position: relative;
    width: 1440px;
    overflow: hidden;
    height: 178px;
    &:before {
        content: '';
        height: inherit;
        width: 89px;
        background: linear-gradient(90deg, $bg 0%, transparent 100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &:after {
        content: '';
        height: inherit;
        width: 89px;
        background: linear-gradient(270deg, $bg 0%, transparent 100%);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
    .slider__cover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: fit-content;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.slider__item {
    width: 346px;
    height: 178px;
    background: rgba(47, 50, 65, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    padding: 24px;
    &:not(:first-child) {
        margin-left: 24px;
    }
    .slider__info {
        @include flex(space-between, start);
    }
    .slider__left {
        p {
            margin-top: 24px;
            @include font('Graphik', 16px, 400, 24px, $text-grey-40);
        }
    }
    .slider__indicator {
        margin-top: 8px;
        @include flex(end, center);
        p {
            margin-left: 10px;
            @include font('Graphik', 18px, 600, 27px, $green-primary);
        }
        .slider__minus {
            color: $text-red;
        }
    }
    .slider__balance {
        margin-top: 11px;
        @include flex(space-between, center);
        p {
            color: $text-grey-60;
        }
        h3 {
            font-weight: 600;
            line-height: 27px;
            font-family: 'Graphik';
        }
    }
}

// Features

.features {
    padding: 120px 0;
}

.features__wrap {
    display: flex;
}

.features__card-container {
    display: flex;
    margin-right: 70px;
    .features__column:first-child {
        margin-right: 24px;
        .features__card:first-child {
            margin-bottom: 24px;
        }
    }
    .features__column:last-child {
        @include flex(center, center);
    }
    .features__card {
        width: 285px;
        background: rgba(47, 50, 65, 0.5);
        backdrop-filter: blur(2px);
        border-radius: 12px;
        @include flex(center, center);
        flex-direction: column;
        padding: 40px 28px;
        .card__img-block {
            width: 90px;
            height: 90px;
            background: #34384C;
            backdrop-filter: blur(7px);
            border-radius: 50%;
            @include flex(center, center);  
            margin-bottom: 40px;
        }
        p {
            @include font('Graphik', 16px, 400, 24px, $text-grey-40);
            margin-top: 16px;
            text-align: center;
        }
    }
}

.features__text-container {
    display: flex;
    @include flex(center, start);
    flex-direction: column;
    position: relative;
    img {
        position: absolute;
        z-index: -1;
        left: 100px;
        top: 277px;
    }
    p {
        @include font('Graphik', 16px, 400, 24px, $text-grey-20);
        margin: 24px 0 32px 0;
        width: 448px;
    }
    button {
        @include button(16px, 54.5px);
        @include font('Sofia Pro', 16px, 600, 160%, $white);
    }
}

// Exchange

.exchange {
    position: relative;
    .ellipse {
        position: absolute;
    }
}

.exchange__wrap {
    display: flex;
}

.exchange__content {
    width: 568px;
    margin-right: 95px;
    h2 {
        margin-bottom: 25px;
    }
    p {
        @include font('Graphik', 16px, 400, 24px, $text-grey-20);
        margin-bottom: 40px;
    }
}
