* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    text-align: center;
    jcsb
}

ul {
    list-style-type: none;
}